<footer class="border-t text-center xl:container">
  <p
    class="py-5 text-sm leading-[21px] text-[#6E6B67] xl:text-base xl:leading-6 xl:tracking-wider"
  >
    ©Vivre 2024 All right Reserved
  </p>
</footer>
